body {
  background-color: #29b6f6; /* blue */
  color: #fff; /* white */
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}

p {
  font-size: 1.5em;
  text-align: justify;
  margin: 30px 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #01579b; /* dark blue */
  color: #fff;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
}
